{% extends 'base.html' %}
{% block title %}Reset Paasword | {% endblock %}
{% block content %}

<div class="p-10 text-center">
    <h1 class="text-3xl lg:text-6xl text-white">Reset password</h1>
</div>
<div class="card mx-auto" style="max-width: 380px; margin-top:10px;">
    <div class="card-body">
        <form method="POST" action="{% url 'forgotPassword' %}">
            {% csrf_token %}
            <div class="mb-5">
                <input type="email" , class="w-full mt-2 px-2 py-2 rounded-xl" placeholder="Email" , name="email">
            </div>
            <div class="form-group">
                <a href="{% url 'login' %}" class="float-right text-white">Ya tienes tu password? Login</a>
            </div>
            <div class="mb-5 text-center">
                <button
                    class="w-full mt-2 px-2 py-2 rounded-xl text-white bg-teal-800 hover:bg-teal-700">Enviar</button>
            </div>
        </form>
    </div>
</div>
<p class="text-center text-white">No tienes una cuenta? <a href="{% url 'register'%}">Registrate</a></p>
{% endblock %}