{% extends 'base.html' %}
{% include 'includes/alerts.html' %}
{% block content %}
{% include 'includes/alerts.html' %}
<div class="p-10 text-center">
    <h1 class="text-3xl lg:text-6xl text-white">Reset password</h1>
</div>
<div class="card mx-auto" style="max-width: 380px; margin-top:10px;">
    <div class="card-body">
        <form method="POST" action="{% url 'resetPassword' %}">
            {% csrf_token %}
            <div class="mb-5">
                <input type="password" , class="w-full mt-2 px-2 py-2 rounded-xl" placeholder="Ingresa tu nuevo password" , name="password">
            </div>
            <div class="mb-5">
                <input type="password" , class="w-full mt-2 px-2 py-2 rounded-xl" placeholder="Confirma el nuevo password" , name="confirm_password">
            </div>
            <div class="mb-5 text-center">
                <button
                    class="w-full mt-2 px-2 py-2 rounded-xl text-white bg-teal-800 hover:bg-teal-700">Cambiar</button>
            </div>
        </form>
    </div>
</div>
<p class="text-center text-white">No tienes una cuenta? <a href="{% url 'register'%}">Registrate</a></p>

{% endblock %}